.form-container {
  margin: 50px auto 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 #00000033, 0 7px 20px 0 #00000033;
  position: relative;
  border-radius: 10px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(270deg,
      hsl(240deg 7% 11%) 0%,
      hsl(240deg 4% 9%) 48%,
      hsl(262deg 56% 17%) 75%,
      hsl(264deg 69% 26%) 100%);
}


.form-container-sign-up {
  margin: 50px auto 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 #00000033, 0 7px 20px 0 #00000033;
  position: relative;
  border-radius: 10px;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(270deg,
      hsl(240deg 7% 11%) 0%,
      hsl(240deg 4% 9%) 48%,
      hsl(262deg 56% 17%) 75%,
      hsl(264deg 69% 26%) 100%);
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  cursor: pointer;
}

.form-content-left {
  border-radius: 10px 0 0 10px;
  position: relative;
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: rgb(99, 34, 143);
}

.form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: visible;
}

.form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 8px;
  background: linear-gradient(90deg,
      rgb(70, 24, 122) 0%,
      rgb(52, 20, 112) 100%);
  outline: none;
  border: none;
  color: rgb(255, 248, 248);
  font-size: 1rem;
  transition: all 0.3s ease-out;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg,
      rgb(35, 4, 58) 0%,
      rgb(27, 4, 46)100%);
  color: rgb(165, 132, 236);
  transition: all 0.3s ease-out;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
}