.view-team-container {
    padding: 20px 10px;
    margin: 20px 400px;
    text-align: center;
    border-bottom: 1px solid #fafafa;
    background-color: antiquewhite;


}

.view-team-container:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.view-team-container h2 {
    font-size: 25px;
    color: #f1356d;
    margin-bottom: 8px;
}

.view-team-container h3 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 8px;
}

.view-team-container h3,
h2 {
    text-decoration: none;
}

.view-team-container button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}